body {
	background-color: #b5ffb8; 
	color: darkslategray;
}
h1 {
	font-family: Garamond;
	font-size: 20px; 
	padding: 10px;
	margin: 15px 50px;
}
h2 {
	border-style: double; 
	font-family: Garamond;
	font-size: 18px; 
}
h3 {
	font-family: Garamond;
	font-size: 16px;
}
p {
	background-color: #decdf7; 
	color: darkblue;
	font-family: Helvetica; 
	font-size: 16px; 
}
ol {
	list-style-type: lower-alpha; 
}
ul {
	list-style-type: square; 
}
div {border: dotted 2px; }
.motto {
	font-family: "French Script MT", Arial;
	font-size: 24px;
	height: 200px; 
	padding-top: 20px;
	width: 200px; 
}
.drawings {
	background-color: #CACAF0; 
	border: none;
	width: 50%; 
	margin: auto;
}
a {
	background-color: #EDD7F7; 
	border-radius: 15px; 
}
header { 
	background-color: #c4c0d1;
	color: #333300;
	margin: auto;
	width: 70%;
}
nav { 
	background-color: #FFFFFF;
	margin: auto;
	width: 70%;
}
section { 
	background-color: #FFFFFF;
	margin: auto;
	width: 70%;
}
article {
	background-color: #FFFFCC;
	width: 50%;
}
aside {
	background-color: #054d1e;
	color: #FFFFFF;
	width: 20%;
	float: right;
}
footer {
	background-color: #99FF66;
	margin: auto;
	width: 70%;
}
